@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8d599;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.solid-shadow {
  box-shadow: -10px 10px #512a08;
}

.button-shadow {
  box-shadow: -4px 4px #512a08;
}
